azure-ai-textanalytics==5.3.0
azure-ai-language-conversations==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
azure-cognitiveservices-speech==1.30.0
playsound==1.2.2
pyobjc==11.0
formrecognizer==3.3.3
azure-ai-documentintelligence==1.0.1
numpy==2.0.2
azure-ai-vision-imageanalysis==1.0.0b3
azure-cognitiveservices-vision-customvision==3.1.0
azure-ai-vision-face==1.0.0b2